:root{
    /* fonts */
--main-font:"Roboto",sans-serif;
--secondary-font:"Raleway",sans-serif;
    /* text colors */
--main-text-cl:rgba(33, 33, 33, 1);
--title-cl:rgba(255, 255, 255, 1);
--link-cl: rgba(117, 117, 117, 1);
--link-tel:rgba(255, 255, 255, 0.6);
/* background-color: ; */
--main-bg-cl:rgb(245, 245, 245) ;
--hero-cl: rgba(47, 48, 58, 1);
--team-cl:rgba(245, 244, 250, 1);
--footer-cl:rgba( 47, 48, 58, 1);
--act-hero-btn:rgba(24, 140, 232, 1);
/* logo color */
--accent-cl:rgba( 33, 150, 243, 1);
--logo-cl:rgba(0, 0, 0, 1);
/* others */
}

body {
    width: 1200px;
    font-size: 14px;
    font-family:var(--main-font);
    letter-spacing: 0.03em;
    color: var(--main-text-cl);
    background-color: var(--title-cl);
}
a {
    color: currentcolor;
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}
    
/* header*/
.header{
    background-color: var(--title-cl);
    border: 1px solid #ECECEC;
}
.header .link:hover,
.header .link:focus {
    color: var(--accent-cl);
}
.logo{
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--accent-cl);
    font-weight: 700;
    letter-spacing: 0.03em;
}
.logo-header{
color:var(--logo-cl);
}
/* main nav */
.header .main-nav{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
}
/* .nav-list li{
    margin-right: 50px;
} */
.nav-list .nav-item:not(:last-child){
    margin-right: 50px;
}
.nav-list{
    display: flex;
    margin-left: 93px;
}
.nav-list .link.current {
    color: var(--accent-cl);
}
.nav-item{
    display: block;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--main-text-cl);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.header-contacts {
    display: flex;
    margin-left:auto;
    color: var(--link-cl);
}
.header-contacts .contacts-item:not(:last-child){
    margin-right: 50px;
}
.contacts-item{
    font-size: 14px;
    line-height: calc(16 / 14);
    font-weight: 500;
    letter-spacing: 0.02em;}
.main{
    width: 1200px;
}


.hero{
    width: 1200px;
    background-color: var(--hero-cl);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title{
    margin-top: 0;
    font-size: 44px;
    line-height: calc(60 / 44);
    color: var(--title-cl);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button{
    display:inline-block;
    padding: 10px 32px;
    min-width: 216px;
    background-color: var(--accent-cl);
    font-family: var(--main-font);
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--title-cl);
    font-weight: 700;
    letter-spacing: 0.06em;
    border-style: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    border: 1px solid transparent;
}


.hero-button:active,
.hero-button:hover,
.hero-button:focus {
    background-color:var(--act-hero-btn) ;
}

/* features */
.visually-hidden{
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }
.features{
    
}

.features-list{
    display: flex;
    padding-top: 94px;
}
.features-item{
    margin-right: 30px;
}
 .features-item:nth-child(4n){
    margin-right: 0;
}

.features-subtitle{
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--main-text-cl);
    font-weight: 700;
    text-transform:uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}
    
.text{
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--link-cl);
    margin-top: 0;
    margin-bottom: 0px;
}
/* about */
.about{
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;

}
.about-title{
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    color: var(--main-text-cl);
    font-weight: 700;
    text-align: center;
}
.about-list{
    display: flex;
}  
.about-item {
    margin-right: 30px;
} 
.about-item:nth-child(3n){
    margin-right: 0;
}

/* our time */
.team{
    background-color: var(--team-cl);
   
    padding-bottom: 94px;
}
.team-title{
    font-size: 36px;
    line-height: calc(42/36);
    color: var(--main-text-cl);
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
}
.team-list{
    display: flex;
    text-align: center;
}
.team-item{
    background-color:var(--title-cl) ;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
   
}
.team-item:nth-child(4n) {
    margin-right: 0;
    width: 270px;
}
.team-name{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--main-text-cl);
    font-weight: 500;
    text-align: center;
}
.team-aside{ 
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--link-cl);
    text-align: center;
    }
/* footer */
.footer{
    width: 1200px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:var(--footer-cl) ;

}

.logo-footer{
    color: var(--title-cl);
   
}
    

    
.footer .link:hover,
.footer .link:focus {
        color: var(--accent-cl);
    }
.contacts-adress{}
.address-list{}
.address-item{
    padding-top: 20px;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--title-cl);
    letter-spacing: 0.03em;
    font-style: normal;
}
.address-item-com{
    padding-top: 9px;
    color: var(--link-tel);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}
.address-item-tel{
    padding-top: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--link-tel);
}


              /* portfolio*/
 .portfolio{}  
 .portfolio-button{
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 34px;
} 

 .portfolio-btn{
    font-family:var(--main-font) ;
    background-color: var(--team-cl);
    font-size: 16px;
    line-height: calc(26 / 16);
    color: var(--main-text-cl);
    font-weight: 500;
    letter-spacing: 0.03em;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
    display: inline-block;
    padding: 6px 22px;
    min-width: 103px;
 }
 .portfolio-btn:hover,
 .portfolio-btn:focus,
 .portfolio-btn:active{
    background-color: var(--accent-cl);
    color:var(--title-cl);
 }

 .portfolio-list{
    display: flex;
    flex-wrap: wrap;
 }
  .flex-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 94px;
  }
 .portfolio-item{
    width: 363px;
    margin-right: 37px;
    margin-bottom: 30px;
    
    
 }
 .portfolio-item:nth-child( 3n ){
    margin-right: 0px;
 }
 .portfolio-item:nth-last-child( -n+3){
    margin-bottom: 0;
 }
 .portfolio-heading{
    margin-top: 20px;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--main-text-cl);
 }
 .portfolio-desc{
    margin-top: 0;
   margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--link-cl);
 }